---
layout: compress
---

{% include base_path %}
{% assign html_lang = site.locale | slice: 0,2 %}
{% if page.lang and site.data.blog_ui[page.lang] %}
  {% assign html_lang = site.data.blog_ui[page.lang].html_lang %}
{% endif %}

<!doctype html>
<html lang="{{ html_lang }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
